* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}
/* ---------  Colors */
.text-cian{
  color:rgb(41, 255, 218)
}
.text-green{
  color:#0bff40
}
.text-white{
  color:rgb(233, 233, 233)
}
.text-whitesmoke{
  color:rgb(233, 233, 233)
}
.text-grey-dark{
  color:#111111;
}
.text-grey{
  color:#222222;
}
/* ----------------- */



/* ---------  Section */
section {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 40px;
  align-items: center;
}
section h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}
section img {
  height: 60%;
}
/* ----------------- */

/* ---------  Text */

.text-title{
  font-weight: 500;
  font-size: 50px;  
}
.text-info{
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
}
.text-sub{
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 30px;
}
.text-primary{
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 50px;
}
.text-secondary{
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 15;
}

/* ----------------- */

/* ---------  Border and margin */
.b-radius {
  border-radius: 15px;
}

/* ----------------- */


/* ---------  Background */

section:nth-child(1) {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: white;
}

section:nth-child(2) {
  background-image: linear-gradient(135deg, #764ba2 0%, #667eea 100%);
}
section:nth-child(3) {
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}
section:nth-child(4) {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

section:nth-child(5) {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
/* ----------------- */




/* ---------  Responsive */

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column-reverse;
  }

  section > img {
    height: 40%;
  }

  .contenedor-text {
    text-align: center;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  section > img {
    height: 30%;
  }
}
/* ----------------- */



